/*Header Styles*/
* {
  margin: 0;
}
body {
  background: #F5F7F3;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

header {
  background-color: #DB9B69;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #F5F7F3;
  font-size: xx-large;
}

header a {
  color: #F5F7F3;
  font-size: xx-large;
}

.hamburguer {
  cursor: pointer;
}

.slide-menu {
  position: fixed;
  top: 82px;
  right: -80%;
  background: #DB9B69;
  text-align: right;
  padding: 1.25rem 2.25rem;
  width: 30%;
  min-height: calc(100vh - 83px);
  z-index: 2;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.slide-menu.active {
  right: 0;
}

.main-menu a,
.social-media a {
  display: block;
  font-size: 26px;
  padding: 40px 0 40px 20;
  border-top: 1px solid #D0BCA3;
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.main-menu a.active {
  background-color: #D0BCA3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  font-weight: bold;
}
.main-menu a:hover, .social-media a:hover{
  transform: scale(1.05);
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.pinyon-script-regular-subtitles {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

/*Home styles*/
.home-main {
  display: flex;
  transform: scale(0);
}
.home-main div {
  width: 50%;
}

.home-icons div:hover{
  animation-name: hover_options;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

.home-icons div a {
  color: black;
}

.pedro-image {
  height: calc(100vh - 83px);
  background-image: url(../assets/img/pedroinfante-removebg-preview.png);
  background-size: cover;
}

/*Font for Title*/
.pinyon-script-bold {
  font-family: "Pinyon Script", cursive;
  font-weight: bold;
  font-style: normal;
}

.text-and-icons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-pedro h1 {
  font-size: 100px;
}

.home-icons {
  position: absolute;
  bottom: 10px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

h2 {
  font-weight: lighter;
}

.home-icons div i {
  font-size: 56px;
}

/*About styles*/
.about-main {
  width: 100%;
  min-height: calc(100vh - 83px);
  background-image: url(../assets/img/4018692.jpg);
  background-size: cover;
  background-position: center center;
  transform: scale(0);
}

.about-title h1 {
  color: #F5F7F3;
  font-size: 90px;
  padding: 100px 10px;
}

.about-content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.about-content div {
  width: 40%;
  max-height: 250px;
  border-radius: 16px;
}

.about-content-text {
  background-color: rgb(222, 225, 230, 0.7);
  padding: 20px;
  text-align: center;
}

.about-content-text div {
  width: 100%;
}

.primary-button {
  cursor: pointer;
  padding: 0 20px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
  opacity: 1;
  border: none;
  border-radius: 6px;
  /* border-m */
}

/* Hover */
.primary-button:hover {
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
  animation-name: hover_buttons;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Pressed */
.primary-button:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
}

/* Disabled */
.primary-button:disabled {
  opacity: 0.4;
}

/* Button 1 */
.secondary-button {
  cursor: pointer;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #D0BCA3FF;
  opacity: 1;
  border: none;
  border-radius: 6px;
  /* border-m */
}

/* Hover */
.secondary-button:hover {
  color: #FFFFFFFF;
  /* white */
  background: #D0BCA3FF;
  animation-name: hover_buttons;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Pressed */
.secondary-button:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #D0BCA3FF;
}

/* Disabled */
.secondary-button:disabled {
  opacity: 0.4;
}

/*Contact styles*/
.contact-main {
  transform: scale(0);
  background-image: url(../assets/img/Designer.png);
  background-size: cover;
  width: 100%;
  min-height: calc(100vh - 83px);
}

.contact-main div {
  width: 50%;
}

.contact-main div h1 {
  color: #F5F7F3;
  font-size: 70px;
  padding: 10px;
}

.contact_form {
  background: #F5F7F3;
  max-width: 40.625rem;
  margin-left: 20px;
  padding: 2.25rem;
  width: 90%;
  border-radius: 16px;
}

.input-group {
  width: 100% !important;
  position: relative;
  margin-bottom: 2rem;
}

.input-group input[type="text"],
.input-group input[type="email"],
.input-group textarea {
  font-size: 1rem;
  color: black;
  width: 100% !important;
  outline: none;
  padding: 0.9375rem 0;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(219, 155, 105, 0.25);
  vertical-align: top;
}

.input-group input[type="text"]:focus,
.input-group input[type="email"]:focus,
.input-group textarea:focus {
  border-bottom: 1px solid rgb(219, 155, 105, 1);
}

.input-group textarea {
  max-width: 100%;
  max-height: 10.25rem;
  min-height: 5.125rem;
  min-width: 100%
}

.label {
  position: absolute;
  top: 1rem;
  left: 0;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.label.active {
  top: -12px;
  margin-left: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: gray;
}

.error {
  position: absolute;
  color: rgb(255, 59, 59);
  font-size: 0.875rem;
}

.contact_form input[type="submit"] {
  background: #DB9B69;
  color: whitesmoke;
  border-radius: 1px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 3.25rem;
  padding: 0.9375rem;
  width: 20%;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.contact_form input[type="submit"]:hover {
  background: #D0BCA3;
}

/*Footer styles*/
footer {
  background-color: #DB9B69;
  margin-top: 2.25rem;
  padding: 20px 0;
  text-align: center;
  color: whitesmoke;
}

.bottom-social-media {
  margin-bottom: 2.25rem;
  display: flex;
  justify-content: center;
}

.bottom-social-media div {
  width: 50%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.bottom-social-media a {
  text-decoration: none;
  padding: 0 0.5625rem;
  color: whitesmoke;
}

.bottom-social-media div:hover {
  transform: scale(2);
}

/*My Career styles*/
.career-main{
  transform: scale(0);
}
.career-main h1,
.skills-main h1 {
  font-size: 60px;
  text-align: center;
}

.song-container {
  display: flex;
  align-items: center;
  background-color: #D0BCA3;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 10px;
}
/*Rotating the discs*/
.item1{
  animation-name: rotate_disc;
  animation-duration: 1.25s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.item2 {
  /* flex:1 1 auto; */
  flex-grow: 1;
}

.song-container div i {
  font-size: 56px;
  color: #F5F7F3;
  padding-right: 10px;
}

.watch-more {
  width: 100%;
  cursor: pointer;
  padding: 0 20px;
  line-height: 28px;
  font-weight: 400;
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
  opacity: 1;
  border: none;
  border-radius: 6px;
  /* border-m */
  margin-bottom: 10px;
}

/* Hover */
.watch-more:hover {
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
  animation-name: hover_big_buttons;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Pressed */
.watch-more:hover:active {
  color: #FFFFFFFF;
  /* white */
  background: #DB9B69FF;
}

/* Disabled */
.watch-more:disabled {
  opacity: 0.4;
}

/*My Skills styles*/
.skills-main{
  transform: scale(0);
}
#awards {
  overflow: hidden;
}

#awards h2,
#gallery h2 {
  font-size: 40px;
  text-align: center;
}

.slider {
  width: 300%;
  display: flex;
  position: relative;
}
.slide-text{
  position: absolute;
  bottom: 0;
  background: rgb(222, 225, 230, 0.7);
  padding: 20px;
  border-radius: 5px;
  font-size: x-large;
}
.slide {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url(../assets/img/ariel-awards-696x392.png);
}

.img2 {
  background-image: url(../assets/img/silver_bear.webp);
}

.img3 {
  background-image: url(../assets/img/Golden-Globes.webp);
}

.singer-section {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 20px;
}

.singer-section div {
  width: 50%;
  min-height: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

.singer-section div p {
  font-size: 20px;
  text-align: justify;
}

.singer-section div img {
  width: 50%;
  height: 100%;
  border-radius: 50%;
}

.pedro-singer {
  text-align: center;
}

.pedro-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.pedro-gallery div,
.pedro-gallery div img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.pedro-gallery div:hover{
  transform: scale(1.05);
}

/*Media queries:*/
@media(max-width: 1114px) {
  .pedro-image {
    background-position: center center;
  }
}

@media (max-width: 992px) {

  /*Skills section styles*/
  .singer-section,
  .actor-section {
    flex-direction: column;
    margin-bottom: 0;
  }

  .singer-section div,
  .actor-section div {
    width: 100%;
    padding: 0;
    margin-left: 0;
  }

  .singer-section {
    background: linear-gradient(rgb(245, 247, 243, 0.7),
        rgb(245, 247, 243, 0.7)), url(../assets/img/download.jpeg);
    background-size: cover;
    background-position: center center;
  }

  .actor-section-bg {
    background: linear-gradient(rgb(245, 247, 243, 0.7),
        rgb(245, 247, 243, 0.7)), url(../assets/img/pedro-infante-peliculas-2.jpg);
    background-size: cover;
    background-position: center center;
  }

  .pedro-singer {
    display: none;
  }
}

@media (max-width: 768px) {

  /*Home styles*/
  .home-main {
    flex-direction: column;
  }

  .home-main div {
    width: 100%;
  }

  .pedro-image {
    background-position: center center;
  }

  .home-icons {
    bottom: -100px;
    text-align: center;
  }

  .text-pedro h1 {
    text-align: center;
  }

  /*About me styles*/
  .about-content {
    flex-direction: column;
  }

  .about-content div {
    width: 100%;
  }

  .about-content-text {
    padding: 20px 0 20px 0;
  }

  /*Skills styles*/
  .pedro-gallery {
    display: flex;
    flex-direction: column;
  }

  /*Media query for contact button*/
  @media (max-width: 740px) {
    .contact_form input[type="submit"] {
      width: 50%;
    }
  }

  /*Media query for contact section in mobile*/
  @media (max-width: 440px) {
    .empty {
      display: none;
    }

    .contact-main {
      margin-left: 0;
    }

    .contact-main div,
    .contact_form {
      margin-left: 5px;
      width: 88%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/*Image Modal in Skills Page Styles*/
.image_modal {
  width: 90%;
  max-width: 1000px;
  /*Center the image*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

/*All i "brother tags" that appear inside of .image_modal*/
.image_modal+i {
  position: absolute;
  top: 2%;
  right: 1%;
  color: #D0BCA3;
  font-size: 2.25rem;
  display: inline-block;
  padding: 0.75rem 0.875rem;
  cursor: pointer;
}
html{
  scroll-behavior:smooth;
}
/*Class for generate the entrance transition in each page*/
.is-visible{
  transition-duration: 2s;
  transform: scale(1);
}
/*Animation for discs in discography section:*/
@keyframes rotate_disc {
  0%{transform: rotate(0deg);}
  13%{transform: rotate(45deg);}
  25%{transform: rotate(90deg);}
  38%{transform: rotate(135deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}
/*Animation for hover options:*/
/**
 * ----------------------------------------
 * animation swing-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes hover_options {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
@keyframes hover_options {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
}
/*Animation for buttons:*/
/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes hover_buttons {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes hover_buttons {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
/*Animation for big buttons*/
/**
 * ----------------------------------------
 * animation scale-up-bottom
 * ----------------------------------------
 */
@-webkit-keyframes hover_big_buttons {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes hover_big_buttons {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}


