<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Foo, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
</head>
<body>
    <footer>
        <div class="bottom-social-media">
            <div>
                <a href="https://open.spotify.com/artist/7y33enVLfDvft6HGNmcxdV" target="_blank"><i class="ph ph-spotify-logo"></i></a>
                <a href="https://www.instagram.com/pedro_infante_official/?hl=es"><i class="ph ph-instagram-logo"></i></a>
                <a href="https://www.youtube.com/channel/UC-oOLonSSp0htaeG4LFS5RA"><i class="ph ph-youtube-logo"></i></a>                
            </div>
        </div>
        <p class="copyright">Powered by © AlyDev Media. All rights reserved</p>
    </footer>
</body>
</html>