<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
</head>
<body>
    <header>
        <a href="../index.html"><div class="pedroname pinyon-script-regular">Pedro Infante</div></a>
        <div class="hamburguer" id="burger-menu">☰</div>
        <div class="slide-menu" id="slide-menu">
            <div class="main-menu" id="main-menu">
                <a href="../index.html">Home</a>
                <a href="../about.html">About Me</a>
                <a href="../discography.html">My Career</a>
                <a href="../skills.html">Skills</a>
                <a href="../contact.html">Contact</a>
            </div>
            <div class="social-media">
                    <a href="https://open.spotify.com/artist/7y33enVLfDvft6HGNmcxdV" target="_blank"><i class="ph ph-spotify-logo"></i></a>
                    <a href="https://www.instagram.com/pedro_infante_official/?hl=es"><i class="ph ph-instagram-logo"></i></a>
                    <a href="https://www.youtube.com/channel/UC-oOLonSSp0htaeG4LFS5RA"><i class="ph ph-youtube-logo"></i></a>                
            </div>
        </div>
    </header>
</body>
</html>